{% extends 'base.html.twig' %}

{% block page_name %}Contact{% endblock %}

{% block body_attr %}id="contact"{% endblock %}

{% block main %}
    <section>
        <div class="content">
            <h1>Laissez-nous un message</h1>
            <p>
                Nous sommes à votre disposition pour répondre à vos questions et vous accompagner dans vos projets.
            </p>
            <p>
                Pour nous contacter, vous pouvez utiliser le formulaire ci-dessous ou nous envoyer un email à
                <a href="mailto:" class="link">.</a>
            </p>
            <p>
                Nous vous répondrons dans les plus brefs délais.
            </p>
            {# TODO: add contact form #}
        </div>
    </section>
{% endblock %}
