form {
    margin: ratio-space(8) 0;

    .field {
        width: 100%;

        label {
            margin-bottom: ratio-space(1);
            display: inline-block;
            &::after {
                content: ' :'
            }
        }

        input, textarea {
            width: 100%;
            margin-bottom: ratio-space(2);
            padding: ratio-space(1);
            transition: .3s;
            border: solid 1px rgba($light-grey, .5);

            &:active, &:focus {
                border: solid 1px rgba($primary-color, .5);
            }
        }

        textarea {
            height: fit-content;
            min-height: 150px;
            resize: none;
        }
        
        .invalid-feedback {
            color: $danger-color;
            font-size: .8rem;
            margin-top: - ratio-space(2);
            margin-bottom: ratio-space(2);
        }
    }
}
