ul {
    li {
        line-height: 1.5rem;

        a {
            @extend %link;
        }
    }
}

.content_text, .item-content, .area-section article {
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        counter-reset: list;
        li::before {
            content: counter(list, decimal) ') ';
            counter-increment: list;
        }
    }
}
