ul {
    li {
        line-height: 1.5rem;

        a {
            @extend %link;
        }
    }
}

.content_text {
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}
