@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-size: rem(60px);
    font-weight: 700;
}

p {
    line-height: 2rem;
}

h2 {
    font-size: rem(42px);
    font-weight: 600;
}

h3 {
    font-size: rem(30px);
    text-transform: uppercase;
}

h4 {
    font-size: rem(30px);
    text-transform: capitalize;
}

h5 {
    font-size: rem(24px);
}

strong {
    font-weight: 600;
}
