@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-size: rem(50px);
    font-weight: 700;
}

p {
    line-height: 2rem;
}

h2 {
    font-size: rem(38px);
    font-weight: 600;
}

h3 {
    font-size: rem(35px);
}

h4 {
    font-size: rem(28px);
    text-transform: capitalize;
    margin-bottom: ratio-space(1);
    font-weight: 600;
}

h5 {
    font-size: rem(24px);
    font-style: italic;
}

strong {
    font-weight: 600;
}
