main#area {
    h1 {
        text-align: center;
        margin-bottom: ratio-space(8);
    }

    .content_body {
        @extend %flex;
        align-items: center;
        justify-content: space-between;

        .content_text {
            width: cols(5);

            a {
                @extend %link;
            }
        }

        img {
            width: cols(7);
        }
    }

    section.area-section {
        > hgroup {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: $white;

            h2 {
                text-align: left;
            }
        }

        article {
            h3 {
                text-align: center;
                margin-bottom: ratio-space(8);
            }

            .area-section_customers {
                @extend %flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: ratio-space(8);
                margin-top: ratio-space(4);

                .customer {
                    width: 300px;

                    img {
                        display: inline-block;
                        object-fit: contain;
                        width: 300px;
                        height: 150px;
                        grid-area: img;
                    }

                    .country {
                        margin: ratio-space(2) 0;
                        text-align: center;
                        font-weight: 700;
                        grid-area: country;
                    }

                    .description {
                        text-align: center;
                        white-space: pre-line;
                        grid-area: description;
                    }
                }
            }

            .area-section_inline-customers {
                @extend .area-section_customers;
                flex-direction: column;

                .customer {
                    @extend %grid;
                    width: 100%;
                    align-items: center;
                    grid-template-areas:
                            'img description'
                            'country description';

                    .description {
                        text-align: left;
                    }
                }
            }

            .area-section_article {
                @extend %grid;
                align-items: center;
                margin-bottom: ratio-space(8);

                &:nth-of-type(even) {
                    grid-template-columns: calc(cols(7) - ratio-space(3)) cols(5);
                    grid-template-areas:
                        'title title'
                        'text img';
                }

                &:nth-of-type(odd) {
                    grid-template-columns: cols(5) calc(cols(7) - ratio-space(3));
                    grid-template-areas:
                        'title title'
                        'img text';
                }

                .title {
                    grid-area: title;
                    margin-bottom: ratio-space(4);
                }

                .img {
                    grid-area: img;
                    object-fit: contain;
                    width: 100%;
                }

                .text {
                    grid-area: text;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &[data-component='acceleration'] {
                .article_1 {
                    margin-bottom: ratio-space(8);
                }
            }
        }
    }

    .pagination {
        @extend %grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'prev next';

        .prev {
            grid-area: prev;
            justify-self: flex-start;
            min-width: fit-content;
        }

        .next {
            grid-area: next;
            justify-self: flex-end;
            min-width: fit-content;
        }
    }

    @media #{$media-down-md} {
        .content_body {
            flex-direction: column-reverse;

            .content_text, img {
                width: 100%;
                height: auto;
            }
        }

        section.area-section {
            article {
                .area-section_article {
                    &:nth-of-type(odd), &:nth-of-type(even) {
                        grid-template-columns: 1fr;
                        grid-template-areas:
                            'title'
                            'img'
                            'text';
                    }

                    .img {
                        height: auto;
                    }
                }

                .area-section_inline-customers {
                    .customer {
                        grid-template-areas:
                            'img'
                            'country'
                            'description';

                        img {
                            justify-self: center;
                        }
                    }
                }
            }
        }



        .pagination {
            grid-template-columns: 1fr;
            grid-template-areas:
                    'prev'
                    'next'
            ;

            .prev, .next {
                width: min(365px, 100%);
            }
        }
    }
}
