main#area {
    h1 {
        text-align: center;
        margin-bottom: ratio-space(8);
    }

    .content_body {
        @extend %flex;
        align-items: center;
        justify-content: space-between;

        p {
            width: cols(5);

            a {
                @extend %link;
            }
        }

        img {
            width: cols(7);
        }
    }
}
