body#home {
    header {
        position: absolute;
    }

    section:first-of-type {
        background: url('../../img/hero.jpg') no-repeat center center fixed;
        background-size: cover;
        min-height: 80vh;
        width: 100%;
        color: $white;
        padding: cols(1);
        @extend %flex;
        align-items: center;

        .content {
            max-width: 600px;
            margin: 0;

            p {
                margin: ratio-space(4) 0;
            }
        }
    }
}
