.btn {
    padding: ratio-space(1.5) ratio-space(3);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    width: 265px;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &::before {
        position: absolute;
        content: '';
        z-index: -1;
        width: 150%;
        height: 100%;
        top: 0;
        left: -200%;
        transform: skewX(-25deg);
        transition: .3s;
        border-radius: 3px;
    }

    &.primary {
        background: $primary-color;
        color: $white;

        &::before {
            background: $white;
        }
    }

    &.secondary {
        background: $white;
        border: solid 1px $light-grey;

        &::before {
            background: $primary-color;
        }
    }

    &:hover {
        &::before {
            left: -25%;
        }

        &.primary, &.danger {
            color: $font-color;
        }

        &.secondary {
            color: $white;
            border-color: transparent;
        }
    }
}
