.cards {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: ratio-space(8);

    .card {
        width: cols(4);
        min-width: 400px;
        max-width: 400px;
        min-height: 300px;
        @extend %shadow;
        padding: ratio-space(3);
        @extend %flex;
        flex-direction: column;
        gap: ratio-space(3);
        border-radius: 3px;

        .card-icon {
            font-size: 64px;
            margin-bottom: ratio-space(3);
            color: $primary-color;
        }

        .card-title {
            margin-bottom: ratio-space(8);
        }

        .card-link {
            align-self: flex-end;
        }

        &:nth-child(even) {
            animation: floating 3s ease-in-out infinite reverse;
        }
        &:nth-child(odd) {
            animation: floating 3s ease-in-out infinite;
        }
    }
}
