.timeline {
    position: relative;
    margin: ratio-space(4) auto auto;
    @extend %flex;
    flex-wrap: wrap;
    gap: ratio-space(4) 200px;
    flex-direction: row-reverse;
    justify-content: space-between;

    .item {
        position: relative;
        width: 400px;
        max-width: cols(4);
        @extend %shadow;
        padding: ratio-space(3);
        border-radius: 3px;

        .item-title {
            text-align: center;
            margin-bottom: ratio-space(3);
            line-height: 1.5em;
            font-weight: 600;
        }

        &::after {  // item side line
            content: '';
            position: absolute;
            top: 50%;
            background: $primary-color;
            width: 50%;
            height: 3px;
            border-radius: 3px;
        }

        &:nth-child(even) {
            transform: translateY(50%);

            &::after {
                right: -50%;
            }
        }

        &:nth-child(odd) {
            &::after {
                left: -50%;
            }
        }
    }

    &::after { // time line
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, $primary-color 35%, transparent 35%, transparent 100%);
        background-size: 100% 30px;
    }

    @media #{$media-down-md} {
        justify-content: center;

        .item {
            max-width: none;
            width: 400px;
            transform: none!important;

            &::after { // item side line
                display: none;
            }
        }

        &::after { // time line
            display: none;
        }
    }
}
