%flex, .row {
    display: flex;
    gap: ratio-space(2);
}

%grid {
    display: grid;
    gap: ratio-space(3);
}

%margin {
    margin: 0 ratio-space(3);
}

%padding {
    padding: ratio-space(8) ratio-space(3);
}

%shadow {
    box-shadow: 4px 4px 4px rgba($light-grey, 50%);
}

%link {
    position: relative;
    display: inline-block;

    &::before {
        position: absolute;
        content: '';
        background: rgba($primary-color, 75%);
        transform: skew(22deg);
        height: .5rem;
        bottom: .2rem;
        width: 0;
        transition: .3s;
        z-index: -1;
        left: 0;
    }

    &::after {
        position: absolute;
        content: '';
        background: linear-gradient(to right, rgba($primary-color, 75%) 50%, transparent 50%, transparent 100%);
        background-size: 5px;
        transform: skew(22deg);
        height: 1px;
        bottom: .2rem;
        width: 100%;
        transition: .3s;
        z-index: -1;
        left: 0;
    }

    &:hover {
        &::before {
            width: 100%;
        }

        &::after {
            background-size: 0;
        }
    }
}

%link-light {
    @extend %link;

    &::before {
        background: rgba($white, 70%);
    }
}

%content-width {
    max-width: 1200px;
    margin: auto;
}
